body {
    background-color: #1c1c1c;
    overflow: hidden;
}

.message {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
}

.message .message-bubble {
    overflow: hidden;
    border-radius: 10px;
    max-width: 50%;
}

.message .message-bubble .message-text {
    padding: 10px;
}

.message.left .message-bubble {
    background-color: rgb(126, 50, 50);
    justify-self: start;
}

.message.special .message-bubble {
    background-color: rgb(255, 0, 0);
    justify-self: center;
    width: 100% !important;
    text-align: center;
}

.message .message-bubble .message-name {
    font-weight: bold;
    padding: 4px 10px;
    background-color: rgb(128, 36, 36);
}

.message.special .message-bubble .message-name {
    background-color: rgb(214, 21, 21);
}

.message.right .message-bubble {
    background-color: rgb(59, 59, 158);
    justify-self: end;
}

.container {
    height: 100vh;
}
.card {
    margin-top: 50px;
    height: calc(100vh - 100px);
}


#message-wrapper {
    height: calc(100vh - 220px);
    overflow-y: auto;
}

input:disabled, button:disabled {
    background-color: black !important;
    cursor: not-allowed;
}