body {
    background-color: #1c1c1c;
    overflow: hidden;
}

.message {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
}

.message div {
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
}

.message.left div {
    background-color: rgb(126, 50, 50);
    justify-self: start;
}

.message.special div {
    background-color: rgb(255, 0, 0);
    justify-self: center;
    width: 100% !important;
    text-align: center;
}

.message.special div::before {
    font-weight: bold;
    content: "INFO! ";
}

.message.right div {
    background-color: rgb(59, 59, 158);
    justify-self: end;
}

.container {
    height: 100vh;
}
.card {
    margin-top: 50px;
    height: calc(100vh - 100px);
}


#message-wrapper {
    height: calc(100vh - 220px);
    overflow-y: auto;
}

input:disabled, button:disabled {
    background-color: black !important;
    cursor: not-allowed;
}