* {
    border-radius: 0 !important;
    outline: none !important;
}
body {
    background-color: #212529 !important;
}
a {
    text-decoration: none !important;
}
main {
    background-color: #1c1c1c !important;
    color: white !important;
    padding: 20px 0;
}
.object-fit-cover {
    object-fit: cover;
}